{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": ["react", "prettier"],
    "env": {
        "browser": true
    },
    "rules": {
        "react/no-array-index-key": 0
    }
}
